<header>
	<div class="closeEverything"></div>

	<div class="header__topBar">
		<div class="header__buttons">
			<svg id="Layer_1" class="header__hamburger" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
				<title>hamburger</title>
				<path class="hamburger__top" d="M4,10H28a2,2,0,0,0,0-4H4A2,2,0,0,0,4,10Z" transform="translate(0)" style="fill: #fff"/>
				<path class="hamburger__middle" d="M28,14H4a2,2,0,0,0,0,4H28A2,2,0,0,0,28,14Z" transform="translate(0)" style="fill: #fff"/>
				<path class="hamburger__bottom" d="M28,22H4a2,2,0,0,0,0,4H28A2,2,0,0,0,28,22Z" transform="translate(0)" style="fill: #fff"/>
			</svg>
		</div>
		<a href="@@dots_index.html">
			<p>explore the <span>HOOCH</span> <img src="@@dots__images/_global/leaf-on-water.svg"></p>
			<p class="tagline">Georgia's Chattahoochee River National Recreation Area</p>
		</a>
	</div>
	<div class="header__dropdown">
		<div class="header__dropdown__links">
			<a href="@@dots_index.html">park units</a>
		</div>
		<div class="header__dropdown__links">
			<a target="_blank" href="https://www.nps.gov/chat/planyourvisit/fishing.htm">fishing</a>
		</div>
		<div class="header__dropdown__links">
			<a target="_blank" href="https://www.nps.gov/chat/planyourvisit/cycling.htm">cycling</a>
		</div>
		<div class="header__dropdown__links">
			<a target="_blank" href="https://www.nps.gov/chat/planyourvisit/fees.htm">fees</a>
		</div>
		<div class="header__dropdown__links">
			<a target="_blank" href="https://www.nps.gov/chat/planyourvisit/downstream-flow-rate-buford-dam.htm">river flow</a>
		</div>
		<div class="header__dropdown__links">
			<a target="_blank" href="https://www.nps.gov/chat/planyourvisit/conditions.htm">park alerts</a>
		</div>
		<div class="header__dropdown__links">
			<a href="@@dots_#">about</a>
		</div>
	</div>
</header>
