<nav class="nav nav--main">
	<ul>
		<li>
			<a href="info.html">
				<i class="fa fa-info-circle" aria-hidden="true"></i><br>
				<span>Unit Info</span>
			</a>
		</li>
		<li>
			<a href="photos.html">
				<i class="fa fa-camera-retro" aria-hidden="true"></i><br>
				<span>Photos</span>
			</a>
		</li>
		<li>
			<a class="directionsLink" href="directions.html">
				<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i><br>
				<span>Directions</span>
			</a>
		</li>
		<li>
			<a class="mapLink" href="maps.html">
				<i class="fa fa-map-o" aria-hidden="true"></i><br>
				<span>Map</span>
			</a>
		</li>
		<li>
			<a href="weather.html">
				<i class="fa fa-cloud" aria-hidden="true"></i><br>
				<span>Weather</span>
			</a>
		</li>
	</ul>
</nav>