<meta http-equiv="x-ua-compatible" content="IE=Edge"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
<title>explore the HOOCH</title>
<link rel="stylesheet" href="@@dots__css/main.css?v.2017.1">
<script src="@@dots_/js/jquery.min.js"></script>


<link rel="shortcut icon" href="@@dots_favicon.ico?v=3"/>
<link rel="stylesheet" href="@@dots__css/hint.min.css">
<link rel="stylesheet" href="@@dots__css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>